.sidebar {
    position: fixed;
    top: 0;
    width: 15%;
    height: 108vh;

    z-index: 10;
}

.top-nav {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    background-image: url(../../img/top-nav.svg);
    background-size: cover;
    width: 100%;
}

.logo-nav {
    width: 75%;
    margin: 20% 12% 0 12%;
}

.logo-nav2 {
    display: none;
}

.cont-topnav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15%;
    margin-bottom: -15%;
}

.img-user {
    width: 50px;
    height: 50px;
    margin: 15% 15% -10% 15%;
}


.text-topnav {
    visibility: hidden;
}

.center-nav {
    display: flex;
    flex-direction: column;
    background-color: var(--azulnegro);
}

.item-sidenav {
    border: transparent;
    background-color: transparent;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration-line: none;
}

.item-sidenav-rh{
    padding-left: 12%;
}

.item-sidenav-rh i{
    margin-right: 9%;
}

.item-sidenav i {
    margin: 8px 2px 8px 15px;
}

.item-sidenav2 {
    visibility: hidden;
}

.item-sidenav:hover {
    background-color: var(--azuloscuro);
}

.center-nav i {
    color: var(--blanco);
    font-size: 21px;
}

.center-nav button {
    height: 75px;
}

.final-nav {
    display: flex;
    align-items: center;
    background-color: #3B3E4F;
    width: 100%;
    border: transparent;
    color: var(--blanco);
}

.final-nav:hover {
    background-color: var(--azuloscuro);
}

.final-nav i {
    color: var(--blanco);
    font-size: 24px;
    margin-left: 30%;
}

.final-nav p {
    visibility: hidden;
}


@media screen and (min-width:768px) {

    .logo-nav {
        width: 65%;
        margin: 22% 12%;
    }

    .cont-topnav {
        margin-top: 20%;
    }

    .item-sidenav i {
        margin: 15px 2px 0 35px;
    }

    .img-user {
        width: 75px;
        height: 75px;
        margin: 20% 15% -5% 15%;
    }

    .center-nav i {
        font-size: 28px;
    }

    .center-nav button {
        height: 100px;
    }

    .final-nav i {
        color: var(--blanco);
        font-size: 30px;
        margin-left: 35%;
    }

}

@media screen and (min-width:1024px) {

    .logo-nav {
        display: none;
    }

    .logo-nav2 {
        display: block;
        width: 75%;
        margin: 20% 10% 1% 10%;
    }

    .img-user {
        width: 50px;
        height: 50px;
        margin: -8% 0% 22% 2%;
    }

    .text-topnav {
        visibility: visible;
        color: var(--blanco);
        margin-top: -18%;
        padding: 5px 6px;
    }

    .item-sidenav i {
        margin: 2px 2px 0 5px;
    }

    .user {
        font-size: 11px;
        margin-bottom: 1%;
    }

    .email-user {
        font-size: 7.6px;
    }

    .cont-topnav {
        flex-direction: row;
        width: 80%;
    }

    .name-user {
        font-size: 18px;
        margin-bottom: -1%;
    }

    .center-nav i {
        font-size: 20px;
    }

    .item-sidenav {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .item-sidenav2 {
        visibility: visible;
        color: var(--blanco);
        text-decoration-line: none;
        font-family: 'Marcellus', serif;
        padding-left: 6%;
    }

    .item-sidenav2:hover {
        color: var(--blanco);
    }

    .center-nav {
        height: 61%;
    }

    .center-nav button {
        height: 60px;
        margin: 6% 0 6% 0;
    }

    .final-nav i {
        color: var(--blanco);
        font-size: 20px;
        margin-left: 7%;
        margin-top: -5%;
    }

    .final-nav p {
        visibility: visible;
        margin-top: 4%;
        padding-left: 7%
    }

}

@media screen and (min-width:1200px) {

    .user {
        font-size: 13px;
    }

    .email-user {
        font-size: 10px;
    }

    .center-nav i {
        font-size: 20px;
    }

    .item-sidenav i {
        margin: 2px 4px 0 -2px;
    }
}