.box-card {
    margin-left: 15%;
    margin-top: 8%;
}

.card-room {
    margin: auto;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.price-text {
    font-family: 'Marcellus', serif;
}

.img-card-room{
    height: 196px;
}

.item-name-room {
    position: absolute;
    bottom: 37%;
    right: 2.8%;
    background-color: #009fe389;
    text-align: center;
    width: 94.5%;
    height: 10.5%;
    padding-top: 1.5%;
}

.item-img {
    text-decoration-line: none;
    color: var(--blanco);
    font-size: 15px;
}


.item-reservar {
    font-family: 'Marcellus', serif;
    background-color: var(--negro2);
    text-align: center;
    padding: 2px 0;
    border-radius: 3px;
    border: 2px solid var(--negro2);
    color: var(--blanco);
    font-size: 15px;
    width: 255px;
}

.item-reservar:hover {
    background-color: var(--azuloscuro);
    border: 2px solid var(--azuloscuro);
}

.item-reservar:focus {
    background-color: var(--negro2);
}

.btn-more {
    position: absolute;
    top: 2.5%;
    left: 2.5%;
    background-color: transparent;
    color: #064853;
    font-size: 15px;
    border: none;
    color: var(--blanco);
    width: 270px;
    height: 180px;
    border-radius: 0px;
}

.btn-more p,
i {
    color: transparent;
}

.btn-more:hover p,
.btn-more:hover i {
    color: var(--blanco);
    transform: scale(1.1);
}

.btn-more:hover {
    background-color: rgba(0, 0, 0, 0.333);
}

.btn-more:focus {
    background-color: rgba(0, 0, 0, 0.333);
}

.btn-more:focus p,
.btn-more:focus i {
    color: var(--blanco);
}

.btn-more i {
    font-size: 25px;
    font-weight: bold;
    margin: auto;
}

/*Modal*/

.img-slide img {
    width: 100%;
    height: 300px;
    border: 3.5px solid var(--blanco);
}

.title-modalroom {
    font-family: 'Marcellus', serif;
    background-image: url(../../img/header-modal.svg);
    background-size: cover;
    width: 100%;
    color: var(--blanco);
}

.sub-modalroom {
    color: var(--verdeazul);
    font-size: 18px;
}

.btn-closemodal {
    font-family: 'Marcellus', serif;
    background-color: var(--verdeazul);
    color: var(--blanco);
    font-size: 18px;
    margin: auto;
    border: 2px solid var(--verdeazul);
}

.btn-closemodal:hover {
    background-color: var(--azuloscuro);
    border: 2px solid var(--azuloscuro);
}

.icons-modal-room {
    color: var(--azuloscuro);
}

.item-modal-room{
    color: var(--azuloscuro);
    font-weight: 600;
    font-size: 17px;
}

/*Modal reserva*/

.log-modal-reserve{
    width: 11rem;
    margin: 8% auto;
}

.cont-form-reserve{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.cont-form-reserve input{
    font-size: 14px;
    width: 400px;
    background-color: #F0F0F0;
    border: transparent;
    border-radius: 3px;
    padding: 2px 5px;
    box-shadow: 1px 1px 1px var(--gris);
}

.input-fullname label{
    margin: 5% 0 4% 5%;
}

.input-fullname input{
    margin-left: 4.5%;
}

.input-doc label{
    margin: 7% 0 4% 5%;
}

.input-doc input{
    margin-left: 4.5%;
}

.message-validate-reserve{
    color: #e92b2d;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    padding-top: 15px;
    margin-left: 5%;
}

.text-value-nigth{
    font-size: 18px;
    font-weight: 600;
}

.total-nigth{
    color: var(--verdeazul);
    font-weight: bold;
}

@media screen and (min-width:768px) {

    .price-text {
        font-family: 'Marcellus', serif;
    }
}

@media screen and (min-width:1024px) { 
    
    .box-card {
        margin-left: 3%;
        margin-right: 3%;
    }

}

@media screen and (min-width:1200px) {}